<header>
    <div id="title">
        <h1>CARLOS EDUARDO MORAIS</h1>
    </div>
    <img  class="angular" src="assets/angular.png" alt="Logo do Angular">
    <img class="java" src="assets/java.png" alt="Logo do java">
    <img class="html" src="assets/h-c-j.png" alt="Logo do html">
</header>
<main>
    <article>
        <img class="foto" src="assets/foto.png" alt="foto">
    </article>
    <aside>
        <p>
            Desenvolvedor back e front-end especializado
            em java e angular
        </p>
        <a id="projeto" href="projeto">Meus Projetos</a>
    
    </aside>
</main>

<footer>
<h2>Para contato:</h2>
<div class="contatos">
    <button class="l"> <a  href="https://www.linkedin.com/in/carlos-eduardo-morais-b69762235/">Linkedin</a></button>
    <button class="e"> <a  href="mailto:cemorais2207@gmail.com">Email</a></button>
    <button class="c"> <a  href="currículo">currículo</a></button>
    <button class="w"> <a  href="https://web.whatsapp.com/send?phone=5548984748537">whatsapp</a></button>
</div>
</footer>